################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoreholeVolume/.vs
/BoreholeVolumeTests/bin/Debug/net6.0-windows
/BoreholeVolume/obj
/BoreholeVolumeTests/obj
/BoreholeVolume/bin/Debug/net6.0-windows
